
    <script>
        window.addEventListener('load', () => {
            setTimeout(() => {
                document.querySelector('.hide-when-load').style.display = "none"
            }, 0)
        })
    </script>
</body>
</html>