{{> header }}

<div class="container d-flex justify-content-center mt-5">
<form action="/logout" method="post">
    <h2>welcome {{ user.name }}</h2>
    <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
    <a href="/users/{{user._id}}/editUser" class="btn btn-outline-info btn-sm">edit profile</a>
</form>
</div>


{{> footer }}



